<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/surveymuncher/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/surveymuncher/">Home</a></li>
		        	<li><a href="/surveymuncher/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/surveymuncher/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jurgen@digzilla.org">email</a></li>
	        		<li><a href="https://github.com/digzilla">github.com/digzilla</a></li>
				</ul>
			</footer>
		</body>
	</html>
